* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #fffded;
}

.main-section {
  display: flex;
  margin-top: 40px;
}

.game-title {
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 100px;
  margin-top: 40px;
}

.instruct-heading {
  margin-bottom: 20px;
}

.instructions li {
  margin-bottom: 20px;
}

canvas {
  background: #eee;
  display: block;
  margin-left: 70px;
  border: 2px solid black;
}

.footer {
   display: flex;
   justify-content: flex-end;
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background: lightblue;
}

.footer i {
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 10px;
  font-size: 30px;
  background-color: inherit;
}

.footer a {
  background-color: inherit;
  color: black;
}
